.container {
    display: grid;
    position: relative;
    margin: auto;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 200px 700px 200px; 
    align-content: space-evenly;
    justify-content: space-evenly;
    background-color: white;
}
  
header {
    grid-column: 1 / span2;
    grid-row: 1 / 2;
    justify-self: center;
}

.navHearts {
    grid-column: 3 / span2;
    grid-row: 1 / 2;
    z-index: 5;
    justify-self:center;
    margin-left: 180px;
}

#heartPicture{
  padding-top: 30px;
    height: 130%;
    width: 350px;
}

.navigation{
    grid-column: 3 / span2;
    grid-row: 1 / 2;
    z-index: 5;
    justify-self: center;
}
#about {
    color: rgb(255, 153, 128);
}
#home {
    color:rgb(255, 71, 26);
}
#media {
    color: rgb(255, 153, 128);
}
#silly {
    color: rgb(255, 153, 128);
}
#games {
     color: rgb(255, 153, 128);
}
  
a {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 50px;
    text-decoration: none; 
    cursor: pointer;
}
  
ul li {
    list-style-type: none; 
    display: inline;
    text-align: center;
    padding: 22px;
}
  
.sara {
    grid-column: 1 / span2;
    grid-row: 1 / 2;
    z-index: 5;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 80px;
    color:rgb(179, 134, 0);
    text-align: left;
}

.profile {
    height: 100%;
    width: 1090px;  
}
  
nav {
    grid-column: 1 / span2;
    grid-row: 2 / 3;
    justify-self: center;
}

h2 {
    font-family: 'Bad Script', cursive;
    font-size: 50px;
    color:rgb(179, 134, 0);
}
#profilePicture{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    padding-top: 50px;
}

.profilePic {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: center;
 }
 .index {
   padding-top: 30px;
 }
 p {
    font-family: 'Kalam', cursive;
    font-size: 25px;
    font-weight: bold;
    }

#craft {
  font-family: 'Covered By Your Grace', cursive;
    font-size: 30px;
    text-decoration: none; 
    cursor: pointer;
    color: rgb(255, 153, 128);
    line-height: 0;

}
 
 .leftText {
   grid-row: 3/ 4;
   grid-column: 1 / 1;
   justify-self: right;
 }
 
 .rightText {
   grid-row: 3/ 4;
   grid-column: 3 / 3;
   justify-self: left;
   padding-top: 140px;
 }
 
 footer {
    background: linear-gradient(to top, #ffffff 70%, #ffcc66 100%);
    grid-column: 1 / span4;
    grid-row: 4 / 5;
  
}

h3 {
    padding-left: 60px;
    font-size: 50px;
    font-family: 'Covered By Your Grace', cursive;
} 

h4 {
    padding-left: 60px;
    font-family: 'Bad Script', cursive;
    line-height: 0;
}
  