.container {
    display: grid;
    position: relative;
    margin: auto;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 200px 200px 200px 200px; 
    align-content: space-evenly;
    justify-content: space-evenly;
    background-color: white;
}
  
header {
    grid-column: 1 / span2;
    grid-row: 1 / 2;
    justify-self: center;
}

.navHearts {
    grid-column: 3 / span2;
    grid-row: 1 / 2;
    z-index: 5;
    justify-self:center;
}

#heartPicture{
      height: 130%;
      width: 600px;
  }
  
.navigation{
    grid-column: 3 / span2;
    grid-row: 1 / 2;
    z-index: 5;
    justify-self: center;
}
#home:hover,
#media:hover,
#about:hover,
#games:hover {
  color:rgb(255, 71, 26);
}
#about {
    color: rgb(255, 153, 128);
}
#home {
    color: rgb(255, 153, 128);
}
#media {
    color: rgb(255, 153, 128);
}
#silly {
    color:rgb(255, 71, 26);
}
#games {
     color: rgb(255, 153, 128);
}
  
a {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 50px;
    text-decoration: none; 
    cursor: pointer;
}
  
ul li {
    list-style-type: none; 
    display: inline;
    text-align: center;
    padding: 22px;
}
  
.sara {
    grid-column: 1 / span2;
    grid-row: 1 / 2;
    z-index: 5;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 80px;
    color:rgb(179, 134, 0);
    text-align: left;
}

.profile {
    height: 100%;
    width: 1090px;  
}
  
  
nav {
    grid-column: 1 / span2;
    grid-row: 2 / 3;
    justify-self: center;
}

h2 {
    font-family: 'Bad Script', cursive;
    font-size: 40px;
    color:rgb(179, 134, 0);
}


button {
   grid-row: 4 / 4;
 grid-column: 2 / 3;
justify-self: center;
z-index: 5;
    background-color: rgb(255, 153, 128);
    text-decoration: none;
    font-size: 50px;
    cursor: pointer;
    height: 300px;
    width: 300px;
    border: none;
    font-family: 'Kalam', cursive;;
    font-weight: bold;
    border-radius: 50%;
    z-index: 5;
  }
 .txt {
   grid-row: 3 /3;
   grid-column: 2 / span2;
   z-index: 5;
    }

 .mandala {
   grid-row: 3 / span2;
   grid-column: 3 / span2;
  
 }
 #mandalaPicture{
   width: 550px;
 }

