.container {
    display: grid;
    position: relative;
    margin: auto;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 100px 700px 600px 200px; 
    align-content: space-evenly;
    justify-content: space-evenly;
    background-color: white;
}
  
header {
    grid-column: 1 / span2;
    grid-row: 1 / 2;
    justify-self: center;
}

.navHearts {
    grid-column: 3 / span2;
    grid-row: 1 / 2;
    z-index: 5;
    justify-self:center;
    margin-left: 150px;
}

#heartPicture{
    height: 130%;
    width: 350px;
}

.navigation{
    grid-column: 3 / span2;
    grid-row: 1 / 2;
    z-index: 5;
    justify-self: center;
}
#about {
    color:rgb(255, 71, 26);
}
#home {
    color: rgb(255, 153, 128);
}
#media {
    color: rgb(255, 153, 128);
}
#silly {
    color: rgb(255, 153, 128);
}
#games {
     color: rgb(255, 153, 128);
}
  
a {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 50px;
    text-decoration: none; 
    cursor: pointer;
}
  
ul li {
    list-style-type: none; 
    display: inline;
    text-align: center;
    padding: 22px;
}
  
.sara {
    grid-column: 1 / span2;
    grid-row: 1 / 2;
    z-index: 5;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 80px;
    color:rgb(179, 134, 0);
    text-align: left;
}

.profile {
    height: 100%;
    width: 1200px;  
}
  
nav {
    grid-column: 1 / span2;
    grid-row: 2 / 3;
    justify-self: center;
}

h2 {
    font-family: 'Bad Script', cursive;
    font-size: 40px;
    color:rgb(179, 134, 0);
}